{% extends 'base.html' %}
{% load static %}

{% block tituloPaginas %}  
Nosotros - CineYa!
{% endblock%}

{% block contenidoPagina %}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
    }
    .title {
        color: grey;
        font-size: 18px;
    }
    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }
    button:hover, a:hover {
        opacity: 0.7;
    }
</style>
<h1 style="text-align: center;color:red">Nosotros</h1>

<div class="card">
    <img src="{% static 'assets/unknown.png' %}" alt="Juan" style="width:100%">
    <h1>Juan Pablo Pesaresi</h1>
    <p class="title">CEO & Founder</p>
    <p>CoderHouse University</p>
    <p><button>Contact</button></p>
</div>


{% endblock %}