{% extends 'base.html' %}
{% load static %}

{% block tituloPaginas %}  
Tienda - CineYa!
{% endblock%}

{% block contenidoPagina %}
<style>
    .contenido{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 350px;
        height: 100%;
        margin: auto;
        text-align: center;
        font-family: arial;
        margin-top: 10px;}
    .a{background-color: #04AA6D;border:none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;cursor: pointer;}
</style>

<title>Detalle Producto</title>
</head>
<body>
    <div class="contenido">
        <div class="imagenes">
            {% if peliculas.nombrePelicula == "Dumbo" %}
            <img style="width: 100%;height:100%;" src="{% static 'assets/scale.jfif' %}" alt="">
            {% endif %}
            {% if peliculas.nombrePelicula == "Harry Potter" %}
                <img style="width: 100%;height:100%;" src="{% static 'assets/harry-potter-1.jpg' %}" alt="">
            {% endif %}
            {% if peliculas.nombrePelicula == "Frozen" %}
                <img style="width: 100%;height:100%;" src="{% static 'assets/Frozen-Reino-Unido-DVD-0-1.jpg' %}" alt="">
            {% endif %}
            {% if peliculas.nombrePelicula == "Rapidos y Furiosos 9" %}
                <img style="width: 100%;height:100%;" src="{% static 'assets/L6IZHD6MXFHC3LXQ63NI4PSI4U.jpg' %}" alt="">
            {% endif %}
            {% if peliculas.nombrePelicula == "Sherk 2" %}
                <img style="width: 100%;height:100%;" src="{% static 'assets/623222fd69867d8ddc8e7d3270cee275.jpg' %}" alt="">
            {% endif %}
            {% if peliculas.nombrePelicula == "Minions" %}
                <img style="width: 100%;height:100%;" src="{% static 'assets/Los-Minions-Trailer-Español-Logo.jpg' %}" alt="">
            {% endif %}
            {% if peliculas.nombrePelicula == "Toy Story 3" %}
                <img style="width: 100%;height:100%;" src="{% static 'assets/Toy_Story_3-691147043-large.jpg' %}" alt="">
            {% endif %}
            {% if peliculas.nombrePelicula == "Zootopia" %}
                <img style="width: 100%;height:100%;" src="{% static 'assets/R-18121060-1621044556-9594.jpg' %}" alt="">
            {% endif %}
            {% if peliculas.nombrePelicula == "Toy Story 4" %}
                <img style="width: 100%;height:100%;" src="{% static 'assets/Toy_Story_4-462756582-large.jpg' %}" alt="">
            {% endif %}
            {% if peliculas.nombrePelicula == "Los Increibles 2" %}
                <img style="width: 100%;height:100%;" src="{% static 'assets/Los_Incre_bles_2-349945637-large.jpg' %}" alt="">
            {% endif %}
            {% if peliculas.nombrePelicula == "Mi Villano Favorito" %}
                <img style="width: 100%;height:100%;" src="{% static 'assets/tileburnedin.jfif' %}" alt="">
            {% endif %}
            {% if peliculas.nombrePelicula == "Buscando a Nemo" %}
                <img style="width: 100%;height:100%;" src="{% static 'assets/2398093.jpg' %}" alt="">
            {% endif %}
            {% if peliculas.nombrePelicula == "Siniestro" %}
                <img style="width: 100%;height:100%;" src="{% static 'assets/Siniestro-127255424-mmed.jpg' %}" alt="">
            {% endif %}
        </div>
        <p><b>Nombre: </b> {{ peliculas.nombrePelicula }} </p>
        <p><b>Genero: </b> {{ peliculas.genero }} </p>
        <p><b>Año: </b> {{ peliculas.anioDeLanzamiento }} </p>
        <p><b>Descripcion: </b> {{ peliculas.descripcion }} </p>

        <a class="a" href="{% url 'peliculas' %}">Volver al catalogo</a>
    </div>
</body>

{% endblock %}