{% extends 'base.html' %}
{% load static %}

{% block tituloPaginas %}  
Tienda - CineYa!
{% endblock%}

{% block contenidoPagina %}
<style>

    .contenedor{
        display: flex;
        flex-wrap:wrap;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 350px;
        height: 100%;
        margin: auto;
        text-align: center;
        font-family: arial;
        margin-top: 10px;
    }
    .card img{
        width: 100%;
        height: 185px;
    }
    .price {
        color: black;
        font-size: 22px;
    }
    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }
    .card button:hover {
        opacity: 0.7;
    }
    .a{background-color: #04AA6D;border:none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;cursor: pointer;}
</style>

<h1 style="text-align: center;color:rgb(255, 102, 0);margin-top:20px;">TiendaYa! </h1>
<p style="text-align: center;"><form style="text-align: center;" action="" method="post">

    {% csrf_token %}

    <input style="border-radius: 20px;width:30%;text-align:center;" type="text" name="search" placeholder="Buscar Producto">
    <input style="border-radius: 20px;" type="submit" value="Buscar">


</form></p>

<section class="contenedor" enctype="multipart/form-data">

    {% for cards in tienda %}
        <div class="card">
            <div class="imagenes">
                {% if cards.productos == "Taza de Harry Potter" %}
                <img src="{% static 'assets/D_NQ_NP_640765-MLA47901282172_102021-W.jpg' %}">
                {% endif%}
                {% if cards.productos == "Peluche de Harry Potter" %}
                    <img src="{% static 'assets/warner-bros-peluche-harry-potter-25-cm_X7t2cnY.jpg' %}">
                {% endif%}
                {% if cards.productos == "Varita de Harry Potter" %}
                    <img src="{% static 'assets/1000001135038.jpg' %}">
                {% endif%}
                {% if cards.productos == "Capa de Harry Potter" %}
                    <img src="{% static 'assets/D_NQ_NP_763316-MLA46939628441_082021-W.jpg' %}">
                {% endif%}
                {% if cards.productos == "Lentes de Harry Potter" %}
                    <img src="{% static 'assets/82d58d1f665271ac44b8e78f729e7268.jfif' %}">
                {% endif%}
                {% if cards.productos == "Mochila de los Minions" %}
                    <img src="{% static 'assets/D_NQ_NP_850425-MLA25426762239_032017-O.jpg' %}">
                {% endif%}
                {% if cards.productos == "Lampara de los Minions" %}
                    <img src="{% static 'assets/D_NQ_NP_2X_786020-MLA43974898373_112020-F.webp' %}">
                {% endif%}
                {% if cards.productos == "Kit de mate de los Minions" %}
                    <img src="{% static 'assets/unknown_4.png' %}">
                {% endif%}
                {% if cards.productos == "Pantuflas de los Minions" %}
                    <img src="{% static 'assets/08d98bf9fd73d2190c30f6d756cf5692--slippers-minion.jpg' %}">
                {% endif%}
                {% if cards.productos == "Remera de los Minios" %}
                    <img src="{% static 'assets/unknown_3.png' %}">
                {% endif%}
                {% if cards.productos == "FunkoPop de Goku Dragon Ball Z" %}
                    <img src="{% static 'assets/456c29a95aa449449a322b60a9f0ac001ef36ff7b59e456a058ac3251c21fc7f121779.png' %}">
                {% endif%}
                {% if cards.productos == "Mate impresión 3D Dragon Ball" %}
                    <img src="{% static 'assets/D_NQ_NP_704878-MLA45528432390_042021-W.jpg' %}">
                {% endif%}
                {% if cards.productos == "Remera de Dragon Ball Z" %}
                    <img src="{% static 'assets/dragon-ball-goku-todo-blanco1-49543264991b1d13e215488844731199-640-0.jpg' %}">
                {% endif%}
                {% if cards.productos == "Cuadro de Dragon Ball Z" %}
                    <img src="{% static 'assets/unknown_5.png' %}">
                {% endif%}
                {% if cards.productos == "Mochila de Dragon Ball Z" %}
                    <img src="{% static 'assets/mochila-dragon-ball-21-00a3b38b8283ab387716437373636785-1024-1024_KQTXSXH.jpg' %}">
                {% endif%}
            </div>
            <div class="title">
                {{cards.productos}}
            </div>
            <div class="price">
                ${{cards.precio}}
            </div> 
            <a href="{% url 'productos_detail' cards.id %}">Ver</a>
            {% if user.is_staff %}
            <div style="display:flex;justify-content:center;">
                <a style="color:red;font-size:13px;" href="{% url 'eliminar_producto' cards.id %}" class="text-danger badge badge-danger text-decoration-none"> <i class="bi bi-trash"></i> Eliminar</a>
                <a style="text-decoration:none;font-size:13px;" href="{% url 'editar_producto' cards.id %}"><i class="bi bi-brush-fill"></i> Editar</a>
            </div>
            {% endif %}
            <button>COMPRAR </button>
        </div>
    {% endfor %}
    
</section>

{% if user.is_staff %}
    <div style="text-align:center ;margin-top:1%;">
        <a class="a" href="{% url 'formulario_productos' %}">Añadir Producto</a>
    </div>
{% endif %}

{% endblock %}